* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

@media (max-width: 600px) {
  h1 { font-size: 18px; }
  h2 { font-size: 16px; }
  p  { font-size: 14px; }

  button {
    padding: 12px;
    font-size: 14px;
  }
}
